<div class="page-header">
    <h1>Buchungen</h1>
</div>
<div>
    <a class="btn btn-primary" role="button" ui-sref="entryDetail">Neue Buchung</a>
</div>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Datum</th>
        <th>Konto</th>
        <th>Text</th>
        <th class="text-right">Betrag</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="entry in entries" ng-click="showDetail(entry)" class="cursor-hand">
        <td><div>{{entry.date | bookkeepingDate}}</div></td>
        <td><div ng-repeat="part in entry.parts" >{{part.account.name}}</div></td>
        <td><div ng-repeat="part in entry.parts" >{{part.text}}</div></td>
        <td class="text-right"><div ng-repeat="part in entry.parts" >{{part.amount.accountCurrency | bookkeepingCurrency:part.account.currency}}</div></td>
    </tr>
    </tbody>
</table>

<div>
    <a class="btn btn-primary" role="button" ui-sref="entryDetail">Neue Buchung</a>
</div>

