<div class="page-header">
    <h1><a ui-sref="entries">Buchungen</a> &gt; {{entry._id ? 'Buchung bearbeiten' : 'Neue Buchung erstellen'}}</h1>
</div>
<div class="row">
    <form class="form-horizontal col-sm-8" role="form" name="form">
        <div class="form-group" ng-class="{'has-error': form.entryDate.$invalid }">
            <label class="col-sm-2 control-label">Datum</label>

            <div class="col-sm-4">
                <input type="text" required="date" class="form-control" ng-model="entry.date" name="entryDate" bs-datepicker>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Konto</label>
            <label class="col-sm-4">Text</label>
            <label class="col-sm-2">Betrag (Basis)</label>
            <label class="col-sm-2">Betrag (Konto)</label>
            <div class="col-sm-1"></div>
        </div>
        <div class="form-group" ng-repeat="part in entry.parts">
            <div class="col-sm-2">
                <input type="text" required="account" name="partAccount{{$index}}" class="form-control" ng-model="part.account" bs-options="account.name for account in accounts" placeholder="Konto" bs-typeahead>
            </div>
            <div class="col-sm-4">
                <input required="text" name="partText{{$index}}" maxlength="45" type="text" class="form-control" ng-model="part.text">
            </div>
            <div class="input-group col-sm-2 pull-left" ng-class="{ invisible: part.account.currency === settings.baseCurrency}" style="margin-right:12px">
                <input required="currency" name="partBaseAmount{{$index}}" type="text" currency class="form-control text-right" ng-model="part.amount.baseCurrency">
                <div class="input-group-addon">{{settings.baseCurrency | uppercase}}</div>
            </div>
            <div class="input-group col-sm-2 pull-left">
                <input required="currency" name="partAccountAmount{{$index}}" type="text" currency class="form-control text-right" ng-model="part.amount.accountCurrency">
                <div class="input-group-addon">{{part.account.currency | uppercase}}</div>
            </div>
            <div class="col-sm-1"><button class="btn btn-default" ng-click="entry.parts.splice($index, 1)"><i class="glyphicon glyphicon-trash"></i></button></div>
        </div>
        <div class="form-group">
            <div class="col-sm-1">
                <button class="btn btn-default" ng-click="entry.parts.push({})">Hinzufügen</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn"
                        ng-class="{'btn-danger': form.$invalid, 'btn-primary': !form.$invalid}"
                        ng-disabled="form.$invalid" ng-click="save($event)">Speichern
                </button>
                <a ui-sref="entries" class="btn btn-default">Abbrechen</a>
                <button class="btn btn-danger pull-right" ng-click="remove($event)" ng-show="entry._id">L&ouml;schen</button>
            </div>
        </div>
        <div id="alerts-container"></div>
    </form>
</div>